* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.select-disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.input-admin {
    margin: 11px 0 12px 0;
    padding: 2px 2px 2px 6px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.input-admin:focus,
.input-search:focus {
    outline: 0;
    border: 1px solid #000;
}

.container-usuario tbody {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.container-texto-horario,
.container-email-tel {
    display: flex;
    margin: 10px 0 10px 0;
}

.container-geral {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container-column-admin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 54%;
    height: 100%;
}

.container-cad-admin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 0 25px 10px 0;
    height: 50%;
}

.eye-admin-senha {
    font-size: 22px;
    color: #757575;
    top: 12px;
    left: 226px;
    position: absolute;
    cursor: pointer;
}

.eye-admin-confirmar {
    font-size: 22px;
    color: #757575;
    top: 12px;
    left: 300px;
    position: absolute;
    cursor: pointer;
}

.container-search-download {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.container-usuario th:nth-child(1),
.container-usuario td:nth-child(1) {
    width: 18%;
}

.container-usuario th:nth-child(2),
.container-usuario td:nth-child(2),
.container-usuario th:nth-child(3),
.container-usuario td:nth-child(3) {
    width: 40%;
    text-align: left;
}

.container-usuario {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.scroll-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}