.container {
    background-color: #3eb08f;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "sidebar content content";
}

.item-1 {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 6vh;
    justify-items: center;
    align-items: center;
    color: #fff;
    background-color: #3eb08f;
}

.item-2 {
    grid-area: sidebar;
    color: #fff;
    background-color: #3eb08f;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 12vw;
    padding-top: 40px;
    overflow: hidden;
}

.item-3 {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ededed;
    width: 88vw;
    height: 94vh;
    padding: 30px;
    border-top-left-radius: 24px;
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 60px;
    text-align: center;
}

.link-img-logo {
    z-index: 2;
}

.img-logo-admin {
    margin-top: 64px;
    max-width: 78px;
    z-index: 2;
    border-radius: 50%;
    background-color: #fff;
}

.btn-logout {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #3eb08f;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 5px;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;
    transition: .4s;
}

.btn-logout:hover {
    background-color: #e94a4f;
    border: 1px solid #fff;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.text-footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 9px;
}

.svg-admin {
    width: 30vw;
    position: relative;
    margin-bottom: -105px;
}