.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container-form {
    width: 400px;
    height: 330px;
    background-color: #FBFBFD;
    -webkit-box-shadow: -13px 10px 15px -3px rgba(0, 0, 0, 0.1);
    box-shadow: -13px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
    transform: scale(1.1);
}

.svg-login {
    position: fixed;
    bottom: -26vh;
    width: 110vw;
}

.tipos-usuario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.text-tipos-usuario {
    flex: 1;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
}

.btn-hospital {
    color: #fff;
    background-color: #3eb08f;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
}

.btn-admin {
    color: #fff;
    background-color: #3eb08f;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
}

.img-logo-login {
    width: 120px;
    height: 120px;
    background-image: url("../../logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.container-logo {
    position: absolute;
    top: 0;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #3eb08f;
    margin-top: 22px;
    z-index: 2;
}

.container-logo h4 {
    color: #349684;
}

.container-logo h4 {
    font-size: 18px;
    position: absolute;
    bottom: 14px;
    left: 92px;
    white-space: nowrap;
}

#form {
    margin-top: 22px;
    padding-left: 10%;
    padding-right: 10%;
}

.input {
    font-size: 16px;
    padding: 5px;
    padding-left: 28px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #3eb08f;
    border-radius: 5px;
    background-color: #FBFBFD;
}

.input-icone {
    position: relative;
}

.icone-input {
    color: #757575;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.icone-eye {
    color: #757575;
    left: 290px;
    position: absolute;
    cursor: pointer;
}

.input:focus {
    outline: 0;
    background-color: #eeeded;
    transition: .7s;
}

.text-erro {
    font-size: 13px;
    text-align: center;
    color: #e94a4f;
    margin-top: 7px;
    margin-bottom: 5px;
    height: 20px;
    transition: .4s;
}

#textErroLogin {
    font-size: 13px;
    text-align: center;
    color: #e94a4f;
    margin-top: 11px;
    margin-bottom: 5px;
}

.text-form-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

[type="checkbox"] {
    vertical-align: middle;
    top: -1px;
}

.text-form {
    font-size: 12px;
}

.text-senha {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.text-senha:hover {
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    background-color: #3eb08f;
    padding: 10px;
    border: 1px solid #3eb08f;
    border-radius: 50px;
    margin-top: 24px;
    cursor: pointer;
    transition: .4s;
}

.btn-login:hover {
    color: #3eb08f;
    background-color: #fff;
}